# Carpetas
_site
./_posts

# archivos
klise.gemspec
list-novels.md
about.md
thanks.md
help.md
categories.html
novelas/eadtufv/_posts/terminos.md


# caches
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
novelas/esmqvuvt/términos.md
novelas/esmqvuvt/rename-files.py
novelas/eoaqhtlcdrsvd/rename.py
.vscode/settings.json
novelas/eoaqhtlcdrsvd/terms.txt
