---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">ÚLTIMOS LANZAMIENTOS</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.novel}} - {{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

<br>
<br>
<br>
<br>
<h3 class="posts-item-note" aria-label="Recent Posts">SOBRE NOSOTROS</h3>
<p><i> Este sitio se creo con la intennción de compartir novelas asiáticas traducidas con MTL, 
  pero editadas por personas que conocen el idioma chino y japonés.</i></p>

<p><i>Esperamos que lo disfruten. </i></p>
<p>
  ᠃ ⚘᠂ ⚘ ˚ ⚘ ᠂ ⚘ ᠃
</p>

